@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Edwardian Script ITC';
  src: url('./assets/fonts/EdwardianScriptITC.woff2') format('woff2'),
    url('./assets/fonts/EdwardianScriptITC.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('./assets/fonts/Helvetica.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: normal;
  src: local('Helvetica Oblique'), url('./assets/fonts/Helvetica-Oblique.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: bold;
  src: local('Helvetica Bold'), url('./assets/fonts/Helvetica-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Helvetica';
  font-style: italic;
  font-weight: bold;
  src: local('Helvetica Bold Oblique'), url('./assets/fonts/Helvetica-BoldOblique.woff') format('woff');
}

:root {
  --white-5: rgba(244, 244, 231, 0.05);
  --white-10: rgba(244, 244, 231, 0.10);
  --white-15: rgba(244, 244, 231, 0.15);
  --white-20: rgba(244, 244, 231, 0.20);
  --white-25: rgba(244, 244, 231, 0.25);
  --white-30: rgba(244, 244, 231, 0.30);
  --white-35: rgba(244, 244, 231, 0.35);
  --white-40: rgba(244, 244, 231, 0.40);
  --white-45: rgba(244, 244, 231, 0.45);
  --white-50: rgba(244, 244, 231, 0.50);
  --white-55: rgba(244, 244, 231, 0.55);
  --white-60: rgba(244, 244, 231, 0.60);
  --white-65: rgba(244, 244, 231, 0.65);
  --white-70: rgba(244, 244, 231, 0.70);
  --white-75: rgba(244, 244, 231, 0.75);
  --white-80: rgba(244, 244, 231, 0.80);
  --white-85: rgba(244, 244, 231, 0.85);
  --white-90: rgba(244, 244, 231, 0.90);
  --white-95: rgba(244, 244, 231, 0.95);
  --white-100: rgba(244, 244, 231, 1);

  --dark-5: rgba(0, 2, 32, 0.05);
  --dark-10: rgba(0, 2, 32, 0.10);
  --dark-15: rgba(0, 2, 32, 0.15);
  --dark-20: rgba(0, 2, 32, 0.20);
  --dark-25: rgba(0, 2, 32, 0.25);
  --dark-30: rgba(0, 2, 32, 0.30);
  --dark-35: rgba(0, 2, 32, 0.35);
  --dark-40: rgba(0, 2, 32, 0.40);
  --dark-45: rgba(0, 2, 32, 0.45);
  --dark-50: rgba(0, 2, 32, 0.50);
  --dark-55: rgba(0, 2, 32, 0.55);
  --dark-60: rgba(0, 2, 32, 0.60);
  --dark-65: rgba(0, 2, 32, 0.65);
  --dark-70: rgba(0, 2, 32, 0.70);
  --dark-75: rgba(0, 2, 32, 0.75);
  --dark-80: rgba(0, 2, 32, 0.80);
  --dark-85: rgba(0, 2, 32, 0.85);
  --dark-90: rgba(0, 2, 32, 0.90);
  --dark-95: rgba(0, 2, 32, 0.95);
  --dark-100: rgba(0, 2, 32, 1);

  --red-5: rgba(62, 0, 1, 0.05);
  --red-10: rgba(62, 0, 1, 0.10);
  --red-15: rgba(62, 0, 1, 0.15);
  --red-20: rgba(62, 0, 1, 0.20);
  --red-25: rgba(62, 0, 1, 0.25);
  --red-30: rgba(62, 0, 1, 0.30);
  --red-35: rgba(62, 0, 1, 0.35);
  --red-40: rgba(62, 0, 1, 0.40);
  --red-45: rgba(62, 0, 1, 0.45);
  --red-50: rgba(62, 0, 1, 0.50);
  --red-55: rgba(62, 0, 1, 0.55);
  --red-60: rgba(62, 0, 1, 0.60);
  --red-65: rgba(62, 0, 1, 0.65);
  --red-70: rgba(62, 0, 1, 0.70);
  --red-75: rgba(62, 0, 1, 0.75);
  --red-80: rgba(62, 0, 1, 0.80);
  --red-85: rgba(62, 0, 1, 0.85);
  --red-90: rgba(62, 0, 1, 0.90);
  --red-95: rgba(62, 0, 1, 0.95);
  --red-100: rgba(62, 0, 1, 1);

  --font-title: 'Edwardian Script ITC', cursive;
  --font-body: 'Helvetica', sans-serif;
}

/* Base styles */
@layer base {
  * {
    @apply m-0 p-0 box-border;
  }

  #root {
    @apply min-h-screen w-full;
  }
}

html {
  font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

.font-title {
  font-family: var(--font-title);
}

.font-body {
  font-family: var(--font-body);
}